.tools {
  .stock-list {

    .close-btn{
      display: flex;
      align-items: center;
      //border: 1px solid #DCDFE6;
      //border-radius: 6px;
      width: 30px;
      height: 30px;
      padding: 3px;
      cursor: pointer;
      margin-left: auto;
    }

    &__item {
      background: #F6F6F6;
      padding: 6px;
      border-radius: 6px;

      &__info {
        display: flex;
        flex: 1;
        margin-top: 6px;

        .delete-btn{
          display: flex;
          align-items: center;
          border: 1px solid #DCDFE6;
          border-radius: 6px;
          width: 40px;
          height: 40px;
          padding: 3px;
          cursor: pointer;
        }

        div + div{
          margin-left: 6px;
        }

        &::v-deep{
          .el-input{
            min-width: 230px;

            input{
              width: 100%;
            }
          }
        }
      }

      &__column {

        &_container{
          display: flex;

          .add-btn {
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
            padding: 3px;
            cursor: pointer;
          }
        }

        .el-tag + .el-tag{
          margin-left: 6px;
          margin-top: 6px;
        }
      }
    }

    &__item + .stock-list__item{
      margin: 6px 0;
    }
  }

}
